.Content {
  overflow: hidden;
  width: 400px;
  background: #8cc8bc;
  text-align: center;
  border-radius: 5%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin: 50px;
}

.CounterBlock {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: #fff;
}

.Counter {
  width: 100%;
}

.ButtonsContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Text {
  font-family: "Libre Baskerville", serif;
  margin: 10px;
  color: rgb(99, 99, 102);
}

.Name {
  font-family: "Playfair Display", serif;
}

.Img {
  margin: 10px;
}
